<h1>Reset Password</h1>

<form action="/users/reset-password" method="post">
  <input
    type="email"
    name="email"
    placeholder="Enter your Email"
    id=""
    required
  />
  <input type="otp" name="otp" placeholder="Enter OTP" id="" required />
  <input
    type="newPassword"
    name="newPassword"
    placeholder="Enter your New Password"
    id=""
    required
  />
  <input type="submit" value="Reset Password" />
</form>
